@model IEnumerable<QuestionApp.Models.QuizLibrary>
@{
    ViewBag.Title = "Kütüphane";
}
<style>
    td {
        white-space: nowrap;
        overflow: hidden;
        -o-text-overflow: ellipsis;
        -ms-text-overflow: ellipsis;
        text-overflow: ellipsis;
        max-width: 200px;
    }
    input {
        border-radius: 25px;
        padding: 7px 14px;
        background-color: transparent;
        border: solid 1px rgba(0, 0, 0, 0.2);
        width: 200px;
        box-sizing: border-box;
        color: #2e2e2e;
        margin-bottom: 5px
    }
    input {
        border-radius: 25px;
        padding: 7px 14px;
        background-color: transparent;
        border: solid 1px rgba(0, 0, 0, 0.2);
        width: 200px;
        box-sizing: border-box;
        color: #2e2e2e;
        margin-bottom: 5px
    }
        input:focus {
            outline: none;
            border-color: #aaa
        }
    select {
        border-radius: 25px;
        padding: 7px 14px;
        background-color: transparent;
        border: solid 1px rgba(0, 0, 0, 0.2);
        box-sizing: border-box;
        color: #2e2e2e;
        margin-bottom: 5px
    }
    select {
        border-radius: 25px;
        padding: 7px 14px;
        background-color: transparent;
        border: solid 1px rgba(0, 0, 0, 0.2);
        box-sizing: border-box;
        color: #2e2e2e;
        margin-bottom: 5px
    }
        select:focus {
            outline: none;
            border-color: #aaa
        }
</style>
<div class="row">
    <div class="col-12 col-md-12">
        <div class="card">
            <div class="card-body">
                <table id="datatable" class="table tables table-hover table-sm " style="width: 100%;" role="grid" aria-describedby="scroll_ver_dynamic_hei_info">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                           
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                          
                            <td>
                                <a href="/Library/Details/@item.ID" data-toggle="tooltip" data-placement="top" title="" data-original-title="Detaylar"><i class="fa fa-eye color-muted m-r-5"></i> </a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<link href="~/Content/toastr.min.css" rel="stylesheet" />
<link href="~/Content/jquery.dataTables.css" rel="stylesheet" />
@section Scripts {
    <script src="~/Scripts/toastr.min.js"></script>
    <script src="~/Scripts/jquery.canvasjs.min.js"></script>
    <script src="~/Scripts/canvasjs.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
    @Scripts.Render("~/bundles/Datatable")
    <script>
        $(document).ready(function () {
            $('#datatable').DataTable({
                "language": {
                    "url": "/Scripts/Turkish.json"
                },
                "dom": ' <"search"f><"bottom"l>rt<"bottom"ip><"clear"><"top"B>',
                buttons: [
                    {
                        extend: 'excelHtml5',
                        exportOptions:
                        {
                            columns: [0, 1, 2],
                        },
                        text: '<i class="fa fa-file-excel-o"></i>',
                        titleAttr: 'Excel',
                        className: 'btn btn-outline-secondary'
                    },
                    {
                        extend: 'pdfHtml5',
                        pageSize: 'LEGAL',
                        exportOptions:
                        {
                            columns: [0, 1, 2],
                        },
                        text: '<i class="fa fa-file-pdf-o"></i>',
                        titleAttr: 'PDF',
                        className: 'btn btn-outline-secondary'
                    },
                    {
                        text: '<b>Kütüphane Ekle</b>',
                        action: function (e, dt, button, config) {
                            window.location = '/Library/Create';
                        },
                        className: 'btn btn-outline-info'
                    },
                ]
            });
        });
    </script>
    @if (TempData["Message"] != null)
    {
        <script type="text/javascript">
            $(document).ready(function () {
                Command: toastr["success"]("Kayıt Silindi", "Kayıt Silindi")
                toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": false,
                    "positionClass": "toast-bottom-right",
                    "preventDuplicates": false,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }
            })
        </script>
    }
    @if (TempData["Error"] != null)
    {
        <script type="text/javascript">
            $(document).ready(function () {
                Command: toastr["error"]("Hata Oluştu", "Hata Oluştu")
                toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": false,
                    "positionClass": "toast-bottom-right",
                    "preventDuplicates": false,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }
            })
        </script>
    }
}
