@model QuestionApp.Models.VideAndText

@{
    ViewBag.Title = "ReadArticles";
    Layout = "~/Views/Shared/StudentLayout.cshtml";
}

    <div class="row" >
        <div class="col-sm-12" >
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title text-center">@Model.Baslik</h1>
                  <hr />
                    @Html.Raw(Model.Yazilar)

                </div>
            </div>
            </div>
        </div>

