@model QuestionApp.Models.Students
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Turan Hoca ile ingilizce</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/css/main.css">
    <!--===============================================================================================-->
</head>
<body>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                @using (Html.BeginForm("SignIn", "Students", FormMethod.Post, new { @class = "login100-form validate-form", @autocomplete = "off" }))
                {
                    @Html.AntiForgeryToken()
                    <span class="login100-form-title p-b-26">
                        Üye Ol
                    </span>
                    <span class="login100-form-title p-b-48">
                        <i class="zmdi zmdi-font"></i>
                    </span>

                    <div class="wrap-input100 validate-input " data-validate="Adınız Giriniz!">
                        <input class="input100" type="text" name="FirsName" autocomplete="off">
                        <span class="focus-input100" data-placeholder="Ad"></span>
                    </div>
                    <div class="wrap-input100 validate-input " data-validate="Soyadınızı Giriniz!">
                        <input class="input100" type="text" name="LastName" autocomplete="off">
                        <span class="focus-input100" data-placeholder="Soyad"></span>
                    </div>
                    <div class="wrap-input100 validate-input " data-validate="Kullanıcı Adı Giriniz">
                        <input class="input100" type="text" name="NickName" autocomplete="off">
                        <span class="focus-input100" data-placeholder="Kullanıcı Adı"></span>
                    </div>
                    <div class="wrap-input100 validate-input " data-validate="Mail Giriniz">
                        <input class="input100" type="email" name="Mail" autocomplete="off">
                        <span class="focus-input100" data-placeholder="Mail Giriniz"></span>
                    </div>
                    <div class="wrap-input100 validate-input " data-validate="Telefon Numarası Giriniz">
                        <input class="input100" type="tel" name="PhoneNumber" autocomplete="off">
                        <span class="focus-input100" data-placeholder="Telefon Numarası"></span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Şifre Giriniz">
                        <span class="btn-show-pass">
                            <i class="zmdi zmdi-eye"></i>
                        </span>
                        <input class="input100" type="Password" name="Password" autocomplete="new-password">
                        <span class="focus-input100" data-placeholder="Şifre"></span>
                    </div>

                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <input type="submit" class=" btn btn-warning btn-block" value="Üye Ol">
                            <div class="login100-form-bgbtn"></div>
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>
    <div id="dropDownSelect1"></div>
    <!--===============================================================================================-->
    <script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/bootstrap/js/popper.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/js/main.js"></script>
    <link href="~/Content/toastr.min.css" rel="stylesheet" />
    <script src="~/Scripts/toastr.min.js"></script>
    @if (TempData["Exist"] != null)
    {
        <script>
            Command: toastr["error"]("Bu kullanıcı adı alınmıştır")
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": false,
                "progressBar": true,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "500",
                "timeOut": "2000",
                "extendedTimeOut": "500",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }
        </script>
    }
</body>
</html>
